<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="bdb-sql-utils.ZPM">
    <Module>
      <Name>bdb-sql-utils</Name>
      <Version>0.5.6</Version>
      <Description>SQL cookbook for simple storage recipes and other SQL utilities. This is not an official InterSystems repository.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="bdb.cdc.Utils.CLS"/>
      <Resource Name="bdb.logme.Log.CLS"/>
      <Resource Name="bdb.logme.LogField.CLS"/>
      <Resource Name="bdb.logme.PropertyClass.CLS"/>
      <Resource Name="bdb.logme.Trigger.CLS"/>
      <Resource Name="bdb.sql.CollectionUtils.CLS"/>
      <Resource Name="bdb.sql.Dump.CLS"/>
      <Resource Name="bdb.sql.InferSchema.CLS"/>
      <Resource Name="bdb.sql.StatementUtils.CLS"/>
      <Resource Name="bdb.sql.StorageUtils.CLS"/>
      <Resource Name="bdb.sql.StreamUtils.CLS"/>
    </Module>
  </Document>
</Export>